<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="ep1" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:9090/FilesInfoService"
                binding="netTcpBinding" bindingConfiguration="ep1" contract="ServiceReference1.IFilesInfoService"
                name="ep1">
                <identity>
                    <userPrincipalName value="WINDOWS-PC\Evgeniy" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>