<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="Behavior1">
                    <serviceMetadata />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service behaviorConfiguration="Behavior1" name="FilesInfoService.Service">
                <endpoint address="net.tcp://localhost:9090/FilesInfoService"
                    binding="netTcpBinding" bindingConfiguration="" name="ep1"
                    contract="FilesInfoService.IFilesInfoService" />
                <endpoint address="net.tcp://localhost:9090/FilesInfoService/mex"
                    binding="mexTcpBinding" bindingConfiguration="" name="mex"
                    contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="net.tcp://localhost:9090/FilesInfoService" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>